<div class="container">
    <div class="row">
        <div class="canvas-wrapper col-12" style="position: relative;">
            <div class="camera-frame">
                <div id="my_camera"></div>
                <br/>
                <input type=button value="Détéction photo" class="btn btn-primary pull-right"
                       onClick="take_snapshot()">
                <input type=button value="Détéction vidéo" class="btn btn-primary pull-right"
                       onClick="take_snapshot_loop()">
                <input type="button" value="Stop détéction vidéo" class="btn btn-danger pull-right stop-detection">
            </div>
            <div class="canvas-frame">
                <canvas id="canvas" style="position: absolute; top: 0; width: 520px; height: 400px; z-index: 99;">
                    Le navigateur ne prend pas en charge canvas.
                </canvas>
            </div>
        </div>
    </div>
</div>



 <script language="JavaScript">
    Webcam.set({
        width: 520,
        height: 400,
        image_format: 'jpeg',
        jpeg_quality: 100
    });
    Webcam.attach( '#my_camera' );

    function take_snapshot() {
        Webcam.snap( function(img) {
            $.ajax({
                type: "POST",
                url: "/projects/visu/yolo/object_detection/",
                data: {
                img: img
                },
                success: function (data) {
                    coord_labels = data["coord_labels"]
                    console.log(coord_labels)

                    var c = document.getElementById("canvas");
                    var ctx = c.getContext("2d");
                    ctx.clearRect(0, 0, c.width, c.height);
                    r = 2

                    //ctx.strokeRect(0,0,10,10)

                    for (var i = 0; i < coord_labels.length; i++) {
                        color = coord_labels[i].color
                        rgb_color = 'rgb(' + color[0] + ', ' + color[1] + ', ' + color[2] + ')';
                        text = coord_labels[i].class
                        x = coord_labels[i].x
                        y = coord_labels[i].y
                        w = coord_labels[i].w
                        h = coord_labels[i].h

                        // rectangle
                        ctx.strokeStyle = rgb_color;
                        ctx.strokeRect(x/r, y/r, w/r, h/r);

                        // text label
                        ctx.font = "15px Arial";
                        ctx.fillStyle = rgb_color;
                        ctx.fillText(text, x/r , y/r -5);
                    }



                }
            })
        })
    };


    var recursiveCall = true;
    function take_snapshot_loop() {

        if (recursiveCall) {
            Webcam.snap( function(img) {
                $.ajax({
                    type: "POST",
                    url: "/projects/visu/yolo/object_detection/",
                    data: {
                    img: img
                    },
                    success: function (data) {
                        coord_labels = data["coord_labels"]
                        console.log(coord_labels)

                        var c = document.getElementById("canvas");
                        var ctx = c.getContext("2d");
                        ctx.clearRect(0, 0, c.width, c.height); // empty()
                        r = 1.8


                        for (var i = 0; i < coord_labels.length; i++) {
                            color = coord_labels[i].color
                            rgb_color = 'rgb(' + color[0] + ', ' + color[1] + ', ' + color[2] + ')';
                            text = coord_labels[i].class
                            x = coord_labels[i].x
                            y = coord_labels[i].y
                            w = coord_labels[i].w
                            h = coord_labels[i].h

                            // rectangle
                            ctx.strokeStyle = rgb_color;
                            ctx.strokeRect(x/r, y/r, w/r, h/r);

                            // text label
                            ctx.font = "15px Arial";
                            ctx.fillStyle = rgb_color;
                            ctx.fillText(text, x/r , y/r -5);
                        }

                        take_snapshot_loop()
                    }

                })
            })
        }

     };


     $(".stop-detection").click(function () {
        recursiveCall = false;
     })
</script>